{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Deploying Django applications on VPS Linux</h1>
    <h3>Approach using Apache, NGINX, uWSGI and Systemctl</h3>


    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</div>
</body>
</html>